*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

:root {
    --colorBrand: rgb(13, 197, 13);
    --secondColorBrand: rgb(15, 139, 15);
}

header {
    width: 100%;
    height: 100px;
    background: var(--colorBrand);
    border-radius: 0 0 20% 20%;
    border-bottom: 3px solid var(--secondColorBrand);
    display: grid;
    grid-template: 100px / 30% 70%;
    grid-template-areas: "title menu";
    margin-bottom: 30px;
}

.header-menu li {
    display: inline-block;
    margin: 0 8px;
    font-size: 20px;
    color: white;
    grid-area: menu;
}
.header-menu{
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 30px;
    color: white;
    -webkit-text-stroke: 1px black;
    grid-area: title;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 35px;
}

section {
    width: 90%;
    background: yellow;
    margin: 20px auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 15px;
    background-image: linear-gradient(90deg,black 30%, transparent 80%);
    border-radius: 8px;
    color: white;
    text-decoration: none;
}

section li {
    list-style: none;
    font-size: 15px;
}

 a h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: white;
    text-decoration: none;
}

p {
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

article {
    padding: 20px;
    width: 90%;
    margin: 0 auto;
}